.AppHeader
  color #3C3C3B
  overflow hidden

  &-image
    height 100px
    vertical-align middle
    padding 1em

  &-title
    display inline-block
    margin 0
    vertical-align middle

  &-left, &-right
    display inline-block
    vertical-align middle

  &-left
    float left

  &-right
    float right
