header.AppHeader
  div.AppHeader-left
    img.AppHeader-image(src="./img/header/logo.png", alt="logo")
    h1.AppHeader-title Taller Publicitario
  div.AppHeader-right
    nav.AppHeader-menu
      include ../menu/index.jade
