.AppHeader-menu
  .Menu-list
    margin 0
    padding 0

  .Menu-item
    display inline-block

  .Menu-link
    color #3C3C3B
    display inline-block
    padding 3.4em .5em
    transition .4s
    border-top 5px solid transparent
    text-decoration none
    text-transform uppercase

    &:hover
      border-top 5px solid #E31D87


.AppHeader-menuOfCanvas
  position absolute
  width 220px
  z-index 1002
  top 0
  right 0
  transform: translate(220px, 0)
  transition transform 1s lineal
  font-size 1.2em
  display none

  &.is-Active
    display block
    transform: translate(0, 0)

  .Menu-list
    margin 0
    padding 0
    list-style none
    background silver

  .Menu-link
    padding .5em
    display block
    color white
    text-decoration none

  .Menu-item
    border-bottom 1px solid gray
@media only screen and (max-width: 999px)
  .AppHeader-menu
    display none
