@import "./loader.styl"

.u-container
  max-width 1000px
  margin 0 auto

.u-container-flex
  display flex
  max-width 1000px
  margin 0 auto
  padding 1.5em 1em
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
