section.Offert
  ul.rslides
    li
      img(src="img/slides/slide-01.png", alt="")
    li
      img(src="img/slides/slide-02.png", alt="")
    li
      img(src="img/slides/slide-03.png", alt="")
    li
      img(src="img/slides/slide-04.png", alt="")
    li
      img(src="img/slides/slide-05.png", alt="")
