section.AppMain
  div.u-container
    div.AppMain-left
      p.AppMain-text "Somos un equipo de profesionales en el área de la comunicación integral que se ha comprometido con brindar los mejores servicios a la comunidad empresarial." 
