.Services
  text-align: center;
  padding 1.5em 1em
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  min-height 750px

  &-title
    text-align center
    font-weight normal
    display block
    font-size 2em
    margin-bottom 0
    color gray
    width 1000px
    border-bottom 1px solid gray
    padding-bottom .5em


.Service
  font-size 1.3em
  display flex
  margin-bottom 1em

  &-item
    transition all .3s ease
    max-width 300px
    padding 1em
    color gray

  &-header
    font-size 1em
    padding .2em
    color #AFAFAF
    text-align center
  &-title
    text-transform uppercase
  &-description
    text-align left
  &-typeList
    margin 0
    padding 0
    list-style none

  &-type
    padding: .5em;

    &:nth-child(odd)
      background #F6F6F6
