footer.AppFooter
  div.AppFooter-row
    div.AppFooter-column
      ul.AppFooter-socialList
        li.AppFooter-social
          a.Social-link(href="", class="icon-facebook")
        li.AppFooter-social
          a.Social-link(href="", class="icon-instagram")
        li.AppFooter-social
          a.Social-link(href="", class="icon-twitter")
      span.Social-text @rkcreativa
    div.AppFooter-column
      span.AppFooter-email negocios@rkcreativa.com
  div.AppFooter-row
    p.Footer-adress C/ José Gabriel García, No. 124, Zona Colonial, Santo Domingo, D.N. Cel.: (829) 820-3558 / (829) 861-9004, Ofic.: (809) 688-5018 / (809) 333-9154 adm@rkcreativa.com, negocios@rkcreativa.com
