.AppFooter
  background #3C3C3B
  color white
  padding 1em
  text-align center

  &-column
    margin-bottom 2em

  &-email
    padding 1em
    border 1px solid white
    border-radius 10px

  &-socialList
    padding 0
    margin 0
    list-style none
    font-family icoomon
    display inline-block
  &-social
    display inline-block

.Social-link
  color white
  text-decoration none
  font-size 1.5em
  margin-right .2em
