doctype html
html(lang=es)
  head
    link(rel="stylesheet", href="./index.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Rk Creativa, Taller Publicitario
  body
    section.Landing
      include header/index.jade
      include main/index.jade
      include offert/index.jade
      include service/index.jade
      include clients/index.jade
      include footer/index.jade
    script(src="index.js")
      
