@import "nib"
@import "src/client/header/index.styl"
@import "src/client/menu/index.styl"
@import "src/client/main/index.styl"
@import "src/client/offert/index.styl"
@import "src/client/service/index.styl"
@import "src/client/clients/index.styl"
@import "src/client/footer/index.styl"
@import "src/client/util/utils.styl"
@import "src/client/util/icons.styl"

body
  font-size 16px
  font-family "arial"
  margin 0
  padding 0

.Landing
  min-height 100vh
